{
  "root": true,
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "module": true,
    "process": true,
    "window": true
  },
  "plugins": [
    "html",
    "prettier",
    "simple-import-sort",
    "unused-imports"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src",
          "./"
        ]
      }
    }
  },
  "rules": {
    "unused-imports/no-unused-imports-ts": 2,
    "func-names": [
      "error",
      "never"
    ],
    "prettier/prettier": "error",
    "prefer-destructuring": 0,
    "react/destructuring-assignment": 0,
    "react/no-access-state-in-setstate": 0,
    "react/no-did-mount-set-state": 0,
    "react/prop-types": 0,
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/ban-types": "error",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "no-throw-literal": "error"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
}